.game-container {
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: auto;
}

.source-container,
.answer-container,
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  position: relative;
  width: 100%;
}

.sibilant,
.audio-source {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.sibilant {
  margin-bottom: 0.5rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.ipa {
  font-family: "Noto Serif";
  font-size: 3rem;
}

.answer-container {
  height: 10rem;
  width: 80%;
  margin-bottom: 1rem;
  flex-direction: column;
}

.answer-input-container {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.ipa-prompt {
  height: 6rem;
  line-height: 6rem;
  font-size: 6rem;
  text-align: center;
  height: 10rem;
  margin: 1rem 0;
  background-color: var(--highlight-color);
  border-radius: 8px;
}

.correct-answer-prompt,
.answer-prompt {
  width: 80%;
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.answer-prompt {
  background-color: var(--highlight-color);
  border-radius: 8px;
  line-height: 3rem;
}

.correct-answer-prompt {
  font-weight: 600;
}

.incorrect {
  color: #af0000;
}

.correct {
  color: #687f58;
}

/* Button stuff */
.button-container {
  height: 42rem;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 51rem;
  position: relative;
  overflow: scroll;
}

.answer-buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem 1rem;
  margin-bottom: 1rem;
  overflow: scroll;
}

.answer-buttons > button {
  margin: 0;
}

.btn {
  width: 14rem;
  height: 4.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.8rem;
  vertical-align: middle;
}

.red {
  background-color: #af0000;
}

.btn:active {
  background-color: var(--hover-color);
  border: 2px solid var(--secondary-color);
}

.preset-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.show-answer-btn,
.preset-btn {
  width: 12rem;
  height: 3rem;
  font-size: 1.4rem;
  margin: 0 1.25rem;
}

.undo-button {
  bottom: 0;
  right: 0;
  height: 3rem;
  font-size: 1.8rem;
  width: 5.5rem;
}

@media all and (min-width: 768px) {
  .game-container {
    border-radius: 8px;
    width: 780px;
    height: min(100%, 84rem);
  }

  .prompt-container {
    margin: 2rem 0;
  }
  .preset-container {
    margin-bottom: 2rem;
  }
  .answer-container {
    margin-bottom: 4rem;
  }

  .correct-answer-prompt {
    font-size: 3rem;
  }

  .answer-prompt {
    font-size: 3rem;
    line-height: 4rem;
    margin-right: 2rem;
    width: 90%;
  }
  .ipa-prompt {
    height: 8rem;
    line-height: 7rem;
    font-size: 7rem;
  }

  .score-container {
    font-size: 1.6rem;
  }

  .answer-buttons {
    grid-template-columns: auto auto auto;
  }

  .btn {
    width: 16rem;
    height: 6rem;
    font-size: 2rem;
  }

  .show-answer-btn,
  .preset-btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.4rem;
  }

  .show-answer-btn {
    margin-bottom: 1rem;
  }

  .undo-button {
    height: 4rem;
    width: 8rem;
  }
  .sibilant {
    margin-bottom: 1rem;
  }
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--hover-color);
  }
}
