@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Secular+One&display=swap");

:root {
  --primary-color: #3e4837;
  --secondary-color: #f6f3d1;
  --tertiary-color: #d9b28a;
  --hover-color: #687f58;
  --highlight-color: #edd0a8;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.ipa {
  font-family: "Noto Serif";
  font-size: 3rem;
}

.title {
  font-family: "Secular One";
  font-size: 3.5rem;
  margin: 0 auto;
}


.navbar {
  background-color: var(--primary-color);
  height: 6rem;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin-right: 1rem;
}
